  <% if @uses_mocked_data %>
  <h1>My Top Artists</h1>
<% else %>
  <h1>Your Top Artists</h1>
<% end %>
<%= render 'header' %>
<section class="card-deck">
  <% @artists.each do |artist| %>
    <% artist_image = artist.images.first %>
    <wired-card class="card" elevation="3">
      <wired-image
        alt="album cover of <%= artist.name %>"
        elevation="2"
        height=<%= artist_image["height"] %>
        src=<%= artist_image["url"] %>
        width=<%= artist_image["width"] %>
      ></wired-image>
      <h3><%= artist.name %></h3>
    </wired-card>
  <% end %>
</section>
