<!DOCTYPE html>
<html>
  <head>
    <title>YourBestOfSpotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="module" src="https://cdn.pika.dev/wired-elements/latest"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
